<% layout('layouts/boilerplate')%>

<link rel="stylesheet" href="/stylesheets/main.css" />

<div class="row">
  <h1 class="text-center">The New Bird On The Block</h1>
  <div class="col-6 offset-3">
    <form
      action="/birds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="species" class="form-label">Species</label>
        <select
          class="form-control selector"
          name="bird[species]"
          id="species"
          required
        >
          <% for (let i = 0; i < birdData.length; i++) { %>
          <option value="<%= birdData[i].name %> ">
            <%=birdData[i].name%>
          </option>
          <% } %>
          <option value="">Other</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <select
          class="form-control selector"
          name="bird[location]"
          id="location"
          required
        >
          <% for (let i = 0; i < locations.length; i++) { %>
          <option value="<%= locations[i] %> "><%=locations[i]%></option>
          <% } %>
        </select>
      </div>

      <script>
        $(document).ready(function () {
          $(".selector").select2();
        });
      </script>

      <div class="mb-3">
        <label for="image" class="form-label">Add Image(s)...</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
          required
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="bird[description]"
          required
        ></textarea>
      </div>
      <div class="valid-feedback">Looks Good!</div>
      <div class="mb-3">
        <button class="btn btn-info">Release Bird</button>
      </div>
    </form>
    <a href="/birds">Back To Birds</a>
  </div>
</div>
