<% layout('layouts/boilerplate')%>
<div class="row">
  <h1 class="text-center">The New Bird On The Block</h1>
  <div class="col-6 offset-3">
    <form
      action="/birds"
      method="POST"
      novalidate
      class="validated-form"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="species">Species</label>
        <input
          class="form-control"
          type="text"
          id="species"
          name="bird[species]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input
          class="form-control"
          type="text"
          id="location"
          name="bird[location]"
          required
        />
        <div class="valid-feedback">Looks Good!</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Add Image(s)...</label>
        <input
          class="form-control"
          type="file"
          name="image"
          id="image"
          multiple
        />
      </div>

      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          class="form-control"
          type="text"
          id="description"
          name="bird[description]"
          required
        ></textarea>
      </div>
      <div class="valid-feedback">Looks Good!</div>
      <div class="mb-3">
        <button class="btn btn-info">Release Bird</button>
      </div>
    </form>
    <a href="/birds">Back To Birds</a>
  </div>
</div>
