<% layout('layouts/boilerplate') %> 

<div class="mb-3">
  <form
    action="/user/<%=user._id%>/settings/changepfp"
    method="POST"
    novalidate
    class="validated-form"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="image" class="form-label">Add Image(s)...</label>
      <input
        class="form-control"
        type="file"
        name="image"
        id="image"
        required
      />
    </div>
    <div class="mb-3">
      <button class="btn btn-info">Update your profile picture</button>
    </div>
  </form>
</div>
