body {
  height: 100vh;
  font-family: "Andika New Basic", sans-serif;
  background-image: linear-gradient(
      rgba(16, 15, 12, 0.5),
      rgba(111, 140, 95, 0.5)
    ),
    url("https://res.cloudinary.com/dabgwgfzh/image/upload/v1609694324/BirdsOfNewZealand/emailWebsiteLogo/photo-1583483647885-980b2fa778c8_iccngz.webp");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(111, 140, 95, 0.5);
  box-shadow: inset 0 0 5rem rgba(111, 140, 95, 0.5); 
}

.cover-container {
  max-width: 60vw;
}

.nav-link {
  padding: 0.25rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.nav-link-active {
  color: white;
  border-bottom-color: white;
}


.btn-secondary,
.btn-secondary:hover {
  color: #333;
  text-shadow: none;
  font-weight: bold;
}

.home-button {
  width: 25%;
}

@media (max-width: 576px) {
  .home-button {
    width: 100%;
  }
}