body {
  font-family: "Andika New Basic", sans-serif;
  background-color: #d4d0cb;
}

/* birds/index page */

.circle-size {
  width: 250px;
  height: 250px;
}

.index-card {
  background-color: #d4d0cb;
}

.bird-entry {
  align-items: center;
  justify-content: center;
}

/* users/login */
.reset-password-ref {
  text-decoration: none;
}

/* partials/navbar */

.navbar {
  background-color: #6f8c5f;
}

.logo-image {
  height: auto;
  width: 250px;
}

.nav-link {
  margin-top: 12px;
  padding-bottom: 0;
}

.user-links {
  flex-direction: row;
}

@media (min-width: 768px) {
  .user-links {
    display: flex !important;
  }
}

/* partials/footer */

.footer {
  background-color: #6f8c5f;
}

.footer-panel {
  color: #ffffff;
}

/* models/birds (map-popup) */
.mapboxgl-popup-content {
  padding: 0;
  font-family: "Andika New Basic", sans-serif;
}
