body {
  font-family: "Andika New Basic", sans-serif;
  background-color: #d4d0cb;
}

/* birds/index page */

.circle-size {
  width: 250px;
  height: 250px;
}

.index-card {
  background-color: #d4d0cb;
}

.bird-entry {
  align-items: center;
  justify-content: center;
}

/* models/birds (map-popup) */
.mapboxgl-popup-content {
  padding: 0;
  font-family: "Andika New Basic", sans-serif;
}

/* new and edit pages */
textarea {
  width: 300px;
  height: 200px;
}

/* birds/show page */
.single-image {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .single-image {
    height: 400px;
  }
}

.show-title {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2em;
  color: #a1b68b;
}

.container-1 {
  /* display:flex; */
}

.box-1-1 {
  flex: 1;
}

.box-1-2 {
  flex: 2;
}

@media (min-width: 1024px){
  .container-1{
    display:flex;
  }
}

.dashboard-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
}