body {
  font-family: "Andika New Basic", sans-serif;
  background-color: #d4d0cb;
}

/* birds/index page */

.circle-size {
  width: 250px;
  height: 250px;
}

.index-card {
  background-color: #d4d0cb;
}

.bird-entry {
  align-items: center;
  justify-content: center;
}

/* models/birds (map-popup) */
.mapboxgl-popup-content {
  padding: 0;
  font-family: "Andika New Basic", sans-serif;
}

/* new and edit pages */
textarea {
  width: 300px;
  height: 200px;
}