/* partials/navbar */

.dropdown-menu {
  top: 100% !important;
  left: -100% !important;
}

.avatar-button {
  background-color: #a1b68b;
  border: none;
  border-radius: 10%;
}

.navbar {
  background-color: #6f8c5f;
  padding: 8px 8px 8px 8px !important;
  font-family: "Andika New Basic", sans-serif;
}

.logo-image {
  height: auto;
  width: 250px;
}

.nav-link-spacing {
  margin-top: 12px;
  padding-bottom: 0;
}

.user-links {
  flex-direction: row;
}

@media (min-width: 768px) {
  .user-links {
    display: flex !important;
  }
}

@media (max-width: 768px) {
  .avatar-button {
    width: 100%;
    height: 100%;
  }
}

.avatar-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

/* partials/footer */

.footer {
  background-color: #6f8c5f;
}

.footer-panel {
  color: #ffffff;
}
