/* users(GLOBAL) */
body {
  height: 100vh;
  font-family: "Andika New Basic", sans-serif;
  background-image: linear-gradient(
      rgba(16, 15, 12, 0.5),
      rgba(111, 140, 95, 0.5)
    ),
    url("https://source.unsplash.com/collection/36390090/1600x900");
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.05rem 0.1rem rgba(111, 140, 95, 0.5);
  box-shadow: inset 0 0 5rem rgba(111, 140, 95, 0.5);
}

.user-form {
  width: 30rem;
  height: 30rem;
}

.user-form-position {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media (max-width: 425px) {
  .user-form {
    width: 250px;
    height: 350px;
  }
  .user-form-position {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* users/login */
.outside-form-button {
  text-decoration: none;
}
