<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/users.css" />

<div class="container user-form-position mb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow user-form">
        <div class="card-body">
          <h5 class="card-title">Reset My Password</h5>
          <form
            action="/forgot"
            method="POST"
            class="validated-form"
            id="forgot"
            novalidate
          >
            <div class="mb-3">
              <label class="form-label" for="email">Email</label>
              <input
                class="form-control"
                type="email"
                id="email"
                name="email"
                required
              />
              <div class="valid-feedback">Looks Good!</div>
            </div>
          </form>

          <div class="d-grid">
            <button class="btn btn-success btn-block" form="forgot">
              Submit
            </button>
          </div>
          <a href="/login" class="d-grid outside-form-button mt-2">
            <button class="btn btn-primary btn-block">Go Back</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
