<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/users.css" />

<div class="container user-form-position mb-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card shadow user-form">
        <div class="card-body">
          <h5 class="card-title">Reset Password</h5>
          <form action="/reset/<%= token %>" method="POST">
            <div class="mb-3">
              <label for="password">New Password</label>
              <input
                type="password"
                name="password"
                value=""
                placeholder="New password"
                autofocus="autofocus"
                class="form-control"
                required
              />
            </div>
            <div class="mb-3">
              <label for="confirm">Confirm Password</label>
              <input
                type="password"
                name="confirm"
                value=""
                placeholder="Confirm password"
                class="form-control"
                required
              />
            </div>
            <div class="d-grid">
              <button class="btn btn-primary btn-block" type="submit">
                Update Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
